<div class="em-hm-shop-srs-row">
	<div class="em-hm-shop-srs-block">
		<div class="em-hm-shop-srs-box">
    	<a href="{{section.settings.link_1}}">
				<div class="em-hm-shop-srs-box-img">
					<h3>{{section.settings.heading_1}}</h3>
					<img src="{{section.settings.image_1 | img_url: '300x300'}}" />
				</div>
				<p>{{section.settings.desc_1}}</p>
      </a>
		</div>
	</div>
	<div class="em-hm-shop-srs-block">
		<div class="em-hm-shop-srs-box">
			<a href="{{section.settings.link_2}}">
				<div class="em-hm-shop-srs-box-img">
					<h3>{{section.settings.heading_2}}</h3>
					<img src="{{section.settings.image_2 | img_url: '300x300'}}" />
				</div>
				<p>{{section.settings.desc_2}}</p>
			</a>
		</div>
	</div>
	<div class="em-hm-shop-srs-block">
		<div class="em-hm-shop-srs-box">
			<a href="{{section.settings.link_3}}">
				<div class="em-hm-shop-srs-box-img">
					<h3>{{section.settings.heading_3}}</h3>
					<img src="{{section.settings.image_3 | img_url: '300x300'}}" />
				</div>
				<p>{{section.settings.desc_3}}</p>
			</a>
		</div>
	</div>
</div>