<div class="em-hm-shop-srs-row">
	<div class="em-hm-shop-srs-block">
		<div class="em-hm-shop-srs-box">
    	<a href="{{section.settings.link_4}}">
				<div class="em-hm-shop-srs-box-img">
					<h3>{{section.settings.heading_4}}</h3>
					<img src="{{section.settings.image_4 | img_url: '300x300'}}" />
				</div>
				{% comment %} <p>{{section.settings.desc_4}}</p> {% endcomment %}
      </a>
		</div>
	</div>
	<div class="em-hm-shop-srs-block">
		<div class="em-hm-shop-srs-box">
			<a href="{{section.settings.link_5}}">
				<div class="em-hm-shop-srs-box-img">
					<h3>{{section.settings.heading_5}}</h3>
					<img src="{{section.settings.image_5 | img_url: '300x300'}}" />
				</div>
				{% comment %} <p>{{section.settings.desc_5}}</p> {% endcomment %}
			</a>
		</div>
	</div>
	<div class="em-hm-shop-srs-block">
		<div class="em-hm-shop-srs-box">
			<a href="{{section.settings.link_6}}">
				<div class="em-hm-shop-srs-box-img">
					<h3>{{section.settings.heading_6}}</h3>
					<img src="{{section.settings.image_6 | img_url: '300x300'}}" />
				</div>
				{% comment %} <p>{{section.settings.desc_6}}</p> {% endcomment %}
			</a>
		</div>
	</div>
</div>