<div class="colc-article-sec-main">
  <div class="page-width">
	<div class="colc-article-sec-head">
		<h3 class="em-hm-section-title">Processor Articles</h3>
		<a href="#" class="bl-text-arw-link">All articles</a>
	</div>
	<div class="colc-article-sec-row">
		<div class="colc-article-sec-col">
			<div class="colc-article-sec-block">
				<a href="#"></a>
				<div class="colc-article-sec-img">
					<img src="{{'colc-articale-img.jpg'| file_url}}" />
					<span>Press Reviews</span>
				</div>
				<div class="colc-article-sec-cont">
					<div class="colc-article-sec-cont-cat">Press Reviews</div>
					<h3>How to choose the best audio processor?</h3>
					<p>"Overall, the experience with the T1+ was a satisfying one and they can make for an excellent sub $750 pair of Audiophile towers."</p>
					<div class="em-hm-fea-art-block-auth">
						<div class="em-hm-fea-art-auth-info">
							<p><img src="{{'auth-img.png'| file_url}}"> January 6, 2020<br>by John</p>
							<div class="em-hm-fea-art-auth-link"><span class="bl-text-arw-link">Read</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="colc-article-sec-col">
			<div class="colc-article-sec-block">
				<a href="#"></a>
				<div class="colc-article-sec-img">
		        <img src="{{'colc-articale-img.jpg'| file_url}}" />
					<span>User Reviews</span>
				</div>
				<div class="colc-article-sec-cont">
					<div class="colc-article-sec-cont-cat">User Reviews</div>
					<h3>XMC-1 Reviewed by The Audio Squad Blog</h3>
					<p>"T1+ was a satisfying one and they can make for an excellent sub $750 pair of Audiophile towers. These would be an excellent pair of speakers for someone who is already an Audiophile."</p>
					<div class="em-hm-fea-art-block-auth">
						<div class="em-hm-fea-art-auth-info">
							<p><img src="{{'auth-img.png'| file_url}}"> January 6, 2020<br>by John</p>
							<div class="em-hm-fea-art-auth-link"><span class="bl-text-arw-link">Read</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="colc-article-sec-col">
			<div class="colc-article-sec-block">
				<a href="#"></a>
				<div class="colc-article-sec-img">
					<img src="{{'colc-articale-img.jpg'| file_url}}" />
					<span>News</span>
				</div>
				<div class="colc-article-sec-cont">
					<div class="colc-article-sec-cont-cat">News</div>
					<h3>Processor 101 Class from our Open House 2019!</h3>
					<p>"Overall, the experience with the T1+ was a satisfying one and they can make for an excellent sub $750 pair of Audiophile towers."</p>
					<div class="em-hm-fea-art-block-auth">
						<div class="em-hm-fea-art-auth-info">
							<p><img src="{{'auth-img.png'| file_url}}"> January 6, 2020<br>by John</p>
							<div class="em-hm-fea-art-auth-link"><span class="bl-text-arw-link">Read</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="colc-article-sec-bot">
		<a href="#" class="bl-text-arw-link">All articles</a>
	</div>
</div>
</div>