
<div class="em-mob-header-sec">
   {% unless template == "page.landing"%}
	<div class="em-mob-header-top-bar"><p>Free Shipping in the USA and CA over $49</p></div>
  {%endunless%}
	<div class="em-mob-header-bot-sec">
		<div class="em-mob-header-bot-left">
          <div class="em-mob-header-menu"><div class="em-mob-header-menu-icon"><span></span>Menu</div></div>
          <div class="em-mob-toggle-menu">
            <div class="em-mob-toggle-menu-top">
                <img src="{{section.settings.logo | img_url: "original"}}" />
                <span class="em-mob-toggle-menu-close"></span>
            </div>
            <div class="em-mob-toggle-menu-mid">
                <div class="em-mob-toggle-menu-cart">
                    <a class="em-mob-toggle-menu-cart-link" href="#">Cart</a>
                </div>
                <div class="em-mob-toggle-menu-sign">
                    <ul>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">Sign In</a></li>
                    </ul>
                </div>
            </div>
            <div class="em-mob-toggle-menu-nav">
                <ul>
                  {%for link in linklists[section.settings.main_linklist].links%}
                   {% if link.links != blank %}
                    <li class="childmobile em-mob-has-dropdown"><a href="{{link.url}}">{{link.title}}</a>
                  <ul class="childlistmobile">
                       {% for childlink in link.links %}
                          {%if childlink.handle == "has-dropdown" %}
                          <li>
                          {%include "admin-menu"%}
	</li>
                          {%else%}
                          {% if childlink.links != blank %}
                            <li class="em-mob-has-dropdown"><a href="{{childlink.url}}">{{childlink.title}}</a>
                          <ul class="SubChilListmobile">
                            {% for subchildlink in childlink.links %}
                            <li><a href="{{subchildlink.url}}">{{subchildlink.title}}</a></li>
                            {%endfor%}
                              </ul>
                          </li>
                          {%else%}
                        <li><a href="{{childlink.url}}">{{childlink.title}}</a></li>
                          {%endif%}
                          {%endif%}
                        {%endfor%}
                        </ul>
                  </li>
                      {%else%}
                  <li><a href="{{link.url}}">{{link.title}}</a></li>
                      {%endif%}
                    {%endfor%}
                </ul>
            </div>
            <div class="em-mob-toggle-menu-bot">
                <p>Need Help?</p>
                <ul>
                    <li><a href="#" onclick="Smooch.open();">Live Chat</a></li>
                    <li><a href="tel:1-615-790-6754">1-615-790-6754</a></li>
                </ul>
            </div>
        </div>
		</div>
		<div class="em-mob-header-bot-middle">
			<div class="em-mob-header-logo">
              <a href="/"> <img src="{{section.settings.logo | img_url: "original"}}" /></a>
			</div>
		</div>
		<div class="em-mob-header-bot-right">
			<ul class="em-mob-header-right-list">
				<li>
                  <div class="em-mob-header-right-search">
                    <div class="em-mob-header-right-search-icon">
                    <button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top">
           
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>
                    </div>
                  </div>
                </li>
				<li>
                  <div class="em-mob-header-right-cart">
                    <a class="em-mob-header-right-cart-icon" href="/cart"></a>  
                  </div>
                </li>
			</ul>
		</div>
	</div>
</div>