<div class="em-top-head-sec-sticky">
	<div class="em-top-head-sec-sticky-inn">
		<div class="em-top-head-sec-sticky-logo">
			<a href="/">
                         <img src="{{section.settings.logo | img_url: "original"}}" />
                      </a>
		</div>
		<div class="em-top-head-sec-sticky-nav">
          <ul class="em-nav-top-bar-lt-list">	
                  {% for link in linklists[section.settings.main_linklist].links %}
                      {% if link.links != blank %}
                      <li class="em-nav-listing {%if forloop.index==4%}SeriesCustom em-menu-no-list-title em-mega-menu-full-width{%elsif forloop.index==6%}CustomerCustom em-menu-with-list-title em-mega-menu-full-width{%elsif forloop.index== 7%}ReadCustom em-mega-menu-single{%endif%}"><a href="{{link.url}}">{{link.title}}</a>
                        <div class="em-mega-menu-dd-main">
                          {%if forloop.index==4 or forloop.index==6%}
                          <div class="em-mega-menu-dd-main-row">
	<div class="em-mega-menu-dd-main-left">
		<ul class="childlist">
                       {% for childlink in link.links %}
                          {%if childlink.handle == "has-dropdown" %}
                          <li>
                          {%include "admin-menu"%}
	</li>
                          {%else%}
                          {% if childlink.links != blank %}
                            <li><a href="{{childlink.url}}">{{childlink.title}}</a>
                          <ul class="SubChilList">
                            {% for subchildlink in childlink.links %}
                            <li><a href="{{subchildlink.url}}">{{subchildlink.title}}</a></li>
                            {%endfor%}
                              </ul>
                          </li>
                          {%else%}
                        <li {% if childlink.type contains "collection_link" %} {% assign imagepath = childlink.object.handle %} class="hoverworking" data-images="{{ collections[imagepath].image | img_url: "483x191" }}"{%endif%}><a href="{{childlink.url}}">{{childlink.title}}</a></li>
                          {%endif%}
                          {%endif%}
                        {%endfor%}
                        </ul>
	</div>
                            {%if forloop.index==4%}
	<div class="em-mega-menu-dd-main-right" style="display:none">
		<img src="{{'imgpsh_fullsize_anim.jpg' | asset_url }}" />
	</div>
                            {%endif%}
</div>
                          {%else%}
                        <ul class="childlist">
                       {% for childlink in link.links %}
                          {%if childlink.handle == "has-dropdown" %}
                          <li>
                          {%include "admin-menu"%}
	</li>
                          {%else%}
                          {% if childlink.links != blank %}
                            <li><a href="{{childlink.url}}">{{childlink.title}}</a>
                          <ul class="SubChilList">
                            {% for subchildlink in childlink.links %}
                            <li><a href="{{subchildlink.url}}">{{subchildlink.title}}</a></li>
                            {%endfor%}
                              </ul>
                          </li>
                          {%else%}
                        <li><a href="{{childlink.url}}">{{childlink.title}}</a></li>
                          {%endif%}
                          {%endif%}
                        {%endfor%}
                        </ul>
                          {%endif%}
                        </div>
                      </li>
                      {%else%}
                  <li><a href="{{link.url}}">{{link.title}}</a></li>
                      {%endif%}
                  {%endfor%}
                  </ul>
		</div>
     
		<div class="em-top-head-sec-sticky-right">
			<ul class="em-nav-top-bar-rt-list">
              
              <li> <button type="button" class="btn--link site-header__search-toggle js-drawer-open-top medium-up--hide">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button></li>
						<li><a href="/account/login">Sign in</a></li>
						<li><a href="/cart" class="em-nav-top-cart">Cart</a></li>
					</ul>
		</div>  
       
	</div>
  {% if template contains "article" %}
  <div class="em-articl-sub-nav-sec">
  <div class="em-articl-sub-nav-list">
    <ul>
         {% for link in linklists['blogs'].links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul> 
  </div>
</div>
  {%elsif template contains "blog.custom" %}
   <div class="em-articl-sub-nav-sec">
  <div class="em-articl-sub-nav-list">
    <ul class="BlogCustomize">
     {% for link in linklists['blogs'].links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
          
    </ul>
  </div>
</div>
  {%endif%}
</div>
