{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
        <img id="{{ img_id }}"
              class="grid-view-item__image lazyload"
              alt="{{ preview_image.alt }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ preview_image.aspect_ratio }}"
              data-sizes="auto"
              data-image>
      </div>
    </div>
    <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
  </noscript>
  <div class="coll-description">
  <div class="em-colec-title-price-blk">
  	<div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>	
    <div class="em-colec-title-price-box">{% include 'product-price-listing', product: product, show_vendor: show_vendor %}</div>
  </div>
  
  <div class="CustomProDesc">{{product.metafields.global.type}}</div>
  {% comment %} <span class="stamped-product-reviews-badge" data-product-sku="{{ product.handle }}" data-id="{{ product.id }}" style="display:block;">{{ product.metafields.stamped.badge }}</span> {% endcomment %}
  <!-- Yopto -->
    <div class="yotpo bottomLine"
        data-appkey="C6NTmtWEZTidMNpCtHQIuzOKSuJ2KlCmswsJKKIS"
        data-domain="{{shop.permanent_domain | escape }}"
        data-product-id="{{ product.id }}"
        data-product-models="{{ product.id }}"
        data-name="{{ product.title | escape }}"
        data-url="{{ shop.url }}{{ product.url }}"
        data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
        data-description="{{ product.description | escape }}"
        data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
      {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
      {%- assign time_now = 'now' | date: '%s' %}
      {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
      {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
      {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.bottomline_update_time | date: '%s' %}
      {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
      {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
        {%- assign yotpo_bottomline_obsolete = false %}
      {%- else %}
        {%- assign yotpo_bottomline_obsolete = true %}
      {%- endif %}
      {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
        {{ product.metafields.yotpo.bottomline }}
      {%- endif %}
    </div>
  <div class="em-colec-title-price-box em-colec-title-price-box-mob">{% include 'product-price-listing', product: product, show_vendor: show_vendor %}</div>
  </div>
</div>
