<div id="Proaccordion">
  <h3>{{product.metafields.sf_product_tabs.tab_1_title}}</h3> 
  <div>
    {{product.metafields.sf_product_tabs.tab_1_content}}
    {% comment %} <div class="Btn-more"><button  id="myBtn">Show more</button></div> {% endcomment %}
  </div>
  <h3>{{product.metafields.sf_product_tabs.tab_2_title}}</h3>
  <div>
   {{product.metafields.sf_product_tabs.tab_2_content}}
  </div>
  <h3>{{product.metafields.sf_product_tabs.tab_3_title}}</h3>
  <div>
    {{product.metafields.sf_product_tabs.tab_3_content}}
  </div>
  
  {% comment %} <h3>Overview</h3>
  <div>
 {{product.metafields.global.overview}}
    <div class="Btn-more"><button  id="myBtn">Show more</button></div>
  </div>
  <h3>Feature</h3>
  <div>
   {{product.metafields.global.feature}}
  </div>
  <h3>Specification</h3>
  <div>
    {{product.metafields.global.specification}}
  </div>
  <h3>Resources</h3>
  <div>
   {{product.metafields.global.resources}}
  </div> {% endcomment %}
</div>