<div id="overlay" class="em-cst-cart-slide-overlay"></div>
<div class="inline-cart em-cst-cart-slide" id="slidingcartmain">
	<div class="cart-header">
		<div>
          <a href="/cart">Cart</a>
		</div>
		
		<div>
          <div class="close-cart-img"><span class="close-cart-icon"></span></div>
		</div>
	</div>
	
  

  {% if cart.item_count < 1 %}
	<p class="empty-cart-title international-cart-element" data-empty-cart="">Your cart is empty.</p>
  {% else %}
	
  <div data-cart-contents="" class="em-car-sl-content">

<div class="line-item-container">
    
  
  
  {% for item in cart.items %}
  <div class="line-item">
    <div class="line-item-image">

      <a href="{{ item.url }}">
        <img alt="{{ item.image.alt | escape }}" src="{{ item | img_url: 'small' }}">
      </a>

    </div>

    <div class="line-item-content">
      <h4 class="line-item-title"><a href="{{ item.url }}">{{ item.title }}</a>
        </h4>    
      <div class="line-item-remove">
        <div class="ProMetaslide">{{item.metafields.global.meta}}</div>
  <div class="line-item-price">
        {% if item.variant.compare_at_price > item.price %}
        
        <span class="strikeprice">{{ item.variant.compare_at_price | money }}</span>
        {% endif %}
    
        <span class="flow-price">{{ item.price | money }}</span>
    
        <div class="yousavepricesliding yousaveprice">
          {% if item.variant.compare_at_price > item.price %}You save {{ item.variant.compare_at_price | minus: item.price | times: 100.0 | divided_by: item.variant.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%{% endif %}
        </div>
      </div>    
  <a rel="{{ item.id }}" class="remove-item" onclick="remove({{ forloop.index  }},0)">Remove</a> 
      </div>
    </div>



  </div>
  {% endfor %}  

</div>
    
</div>
	

  {% endif %}
  
  
  <div data-full-cart="" class="subtotal-block international-cart-element" style="display: block;"> 
    <div class="em-cart-like-opt-sec-main">
      <div class="em-cart-like-opt-sec-title">
        <span>You may also need one of these:</span>
      </div>
      <div data-app="eastsideco_cartOffers"></div>

      <div data-app="eastsideco_cartOffers" data-position="product" class="em-cart-like-opt-sec"></div>
    </div>
    {% if cart.item_count < 1 %}
    <a href="/collections/all" class="button btn-checkout continueshopping"><span>Continue Shopping</span></a>
    {% else %}
    <div class="subtotal">
      <div>Total:</div>
      <div class="cart-total">
        <a href="/cart">Edit Cart</a>
        <span class="cart-subtotal">{{ cart.total_price | money }}</span>
      </div>
    </div>
    <div class="em-sin-pro-reward-box">
<p>You will Earn 8.5 Reward Points with this purchase <span class="em-sin-pro-reward-box-info"></span></p>
<div class="em-sin-pro-reward-popup">
<div class="em-sin-pro-reward-pop-inn">
{% comment %} <div class="em-sin-pro-reward-pop-close"></div> {% endcomment %}
<h3>Earn Reward Points with Every Purchase</h3>
<div class="em-sin-pro-reward-pop-desc">
<ul>
<li>100 pts = $5</li>
<li>Spend on future purchases and upgrades</li>
<li>$100 min for points redeption </li>
<li>Points expire after 6 months of inactivity</li>
</ul>
<div class="em-sin-pro-reward-pop-desc-lm-link"><a href="{{settings.reward_link}}">Learn more</a></div>
  <div class="em-reward-cst-img"><?xml version="1.0" encoding="UTF-8"?>
    <svg width="53px" height="53px" viewBox="0 0 53 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>B3F9D04C-12D1-42F5-8EB7-69A5B402DDD6@1x</title>
        <g id="emotiva" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="product3" transform="translate(-1294.000000, -368.000000)">
                <g id="picto-rewards" transform="translate(1294.000000, 368.000000)">
                    <circle id="Oval" stroke="#3CBBED" stroke-width="3.5" fill="#FFFFFF" cx="26.5" cy="26.5" r="24.75"></circle>
                    <path d="M37.448125,18.1202612 L35.0835938,18.1202612 C35.5533594,17.3815238 35.8058594,16.5201274 35.8058594,15.6191971 C35.8058594,14.3851309 35.3342188,13.2254396 34.4771875,12.3529864 C33.6203906,11.4805333 32.4811719,11 31.2692188,11 C30.0577344,11 28.9182031,11.4805333 28.0613281,12.3529864 L26.5,13.9426998 L24.9384375,12.3529864 C24.0816406,11.4805333 22.9422656,11 21.730625,11 C20.5189844,11 19.3796094,11.4805333 18.5228125,12.3529864 C16.9865625,13.9166089 16.7853906,16.3324005 17.9173438,18.1202612 L15.5521094,18.1202612 C14.6949219,18.1202612 14,18.827976 14,19.7008268 L14,24.585069 C14,25.4579198 14.6949219,26.1651573 15.5521094,26.1651573 L15.5559375,26.1651573 L15.5559375,38.814296 C15.5559375,40.2453959 16.6955469,41.4054054 18.1010156,41.4054054 L34.8989844,41.4054054 C36.3044531,41.4054054 37.4438281,40.2453959 37.4438281,38.814296 L37.4438281,26.1651573 L37.448125,26.1651573 C38.3053906,26.1651573 39,25.4578403 39,24.585069 L39,19.7008268 C39,18.827976 38.3053125,18.1202612 37.448125,18.1202612 Z M21.1314148,16.838697 C20.6318708,16.2769842 20.6318708,15.362456 21.1314148,14.8002446 C21.3733202,14.5281131 21.6953684,14.3783784 22.0374339,14.3783784 C22.3797209,14.3783784 22.7015475,14.5281131 22.9434529,14.8002446 L25.4555027,17.6265075 C25.462446,17.6345676 25.4692415,17.6424615 25.4761109,17.6503554 L26.1621622,18.4324324 L22.5482053,18.4324324 L21.1314148,16.838697 Z M28.1891892,38.027027 L25.4864865,38.027027 L25.4864865,25.8648649 L28.1891892,25.8648649 L28.1891892,38.027027 Z M31.8687886,16.838697 L30.4545181,18.4324324 L26.8378378,18.4324324 L27.524805,17.6576676 C27.5335802,17.6476964 27.5422078,17.6376421 27.5513516,17.6275046 L30.0597848,14.8002446 C30.3012114,14.5281131 30.6227204,14.3783784 30.9640655,14.3783784 C31.305853,14.3783784 31.6272882,14.5281131 31.8687886,14.8002446 C32.1103627,15.0723762 32.2432432,15.4345812 32.2432432,15.8198032 C32.2432432,16.2044435 32.1103627,16.5665655 31.8687886,16.838697 Z" id="Shape-Copy" fill="#26B4EB" fill-rule="nonzero"></path>
                </g>
            </g>
        </g>
    </svg>
  </div>
</div>
</div>
</div>
    </div>
      <a href="/checkout" class="button btn-checkout"><span>Proceed to checkout</span></a>
    {% endif %}
  </div>
  <div class="em-cart-bot-fea-sec">
	<ul>
		<li>{%comment%}<img src="{{'cart-free-shipping-icon.jpg'| file_url}}" />{%endcomment%} <?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="17px" viewBox="0 0 27 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>14521F5D-8CFF-4E03-8743-5769BF2587B0@1x</title>
    <g id="emotiva" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="product2" transform="translate(-933.000000, -630.000000)" fill="#000000">
            <g id="icon-free-shipping" transform="translate(933.000000, 630.000000)">
                <path d="M23.2648985,9.543379 L18.4931507,9.543379 L18.4931507,6.84931507 L21.249786,6.84931507 C21.3908704,6.84931507 21.5264659,6.88654755 21.6442633,6.95410163 C21.7619701,7.02160371 21.8618822,7.11937167 21.9319479,7.24066711 L23.2648985,9.543379 Z M8.50684932,4.97716895 L0,4.97716895 L0,3.42465753 L8.50684932,3.42465753 L8.50684932,4.97716895 Z M17.3588352,16.3926941 L11.9528086,16.3926941 C12.0688306,17.3802054 11.7071963,18.2883092 11.066678,18.9209199 C10.506022,19.4746542 9.73165068,19.8173516 8.87671233,19.8173516 C8.02177397,19.8173516 7.24740267,19.4746542 6.68674669,18.9209199 C6.04622838,18.2883092 5.68459409,17.3802054 5.80061605,16.3926941 L4.25342466,16.3926941 C4.0365,16.3926941 3.84003966,16.3057044 3.69779121,16.1652121 C3.55554276,16.0247198 3.46746575,15.8306849 3.46746575,15.6164384 L3.46746575,8.40182648 L1.15582192,8.40182648 L1.15582192,6.84931507 L8.50684932,6.84931507 L8.50684932,8.40182648 L5.03938356,8.40182648 L5.03938356,10.2739726 L15.0256849,10.2739726 L15.0256849,1.55251142 L3.46746575,1.55251142 L3.46746575,0.776255708 C3.46746575,0.562009132 3.55554276,0.367974226 3.69779121,0.227481929 C3.84003966,0.0869896323 4.0365,0 4.25342466,0 L15.8116438,0 C16.0285685,0 16.2250288,0.0869896323 16.3672773,0.227481929 C16.5095257,0.367974226 16.5976027,0.562009132 16.5976027,0.776255708 L16.5976027,3.42465753 L22.3616866,3.42465753 C23.4755828,3.42465753 23.9526983,3.99688942 24.2866902,4.51819945 C24.972203,5.58962475 26.0593533,7.29021286 26.7201903,8.36775697 C26.9028111,8.66708815 27,9.01054247 27,9.36073059 L27,14.4748858 C27,15.0162827 26.8117643,15.5150518 26.4542352,15.8681669 C26.1218798,16.1964192 25.6459421,16.3926941 25.0582192,16.3926941 L23.5110278,16.3926941 C23.6270498,17.3802054 23.2654155,18.2883092 22.6248971,18.9209199 C22.0642412,19.4746542 21.2898699,19.8173516 20.4349315,19.8173516 C19.5799932,19.8173516 18.8056218,19.4746542 18.2449659,18.9209199 C17.6044476,18.2883092 17.2428133,17.3802054 17.3588352,16.3926941 Z M10.6335616,16.7579909 C10.6335616,16.279376 10.4367558,15.845523 10.1186709,15.5313651 C9.80058603,15.2172072 9.36130993,15.0228311 8.87671233,15.0228311 C8.39211473,15.0228311 7.95283863,15.2172072 7.63475374,15.5313651 C7.31666886,15.845523 7.11986301,16.279376 7.11986301,16.7579909 C7.11986301,17.2366058 7.31666886,17.6704587 7.63475374,17.9846166 C7.95283863,18.2987745 8.39211473,18.4931507 8.87671233,18.4931507 C9.36130993,18.4931507 9.80058603,18.2987745 10.1186709,17.9846166 C10.4367558,17.6704587 10.6335616,17.2366058 10.6335616,16.7579909 Z M22.1917808,16.7579909 C22.1917808,16.279376 21.994975,15.845523 21.6768901,15.5313651 C21.3588052,15.2172072 20.9195291,15.0228311 20.4349315,15.0228311 C19.9503339,15.0228311 19.5110578,15.2172072 19.1929729,15.5313651 C18.874888,15.845523 18.6780822,16.279376 18.6780822,16.7579909 C18.6780822,17.2366058 18.874888,17.6704587 19.1929729,17.9846166 C19.5110578,18.2987745 19.9503339,18.4931507 20.4349315,18.4931507 C20.9195291,18.4931507 21.3588052,18.2987745 21.6768901,17.9846166 C21.994975,17.6704587 22.1917808,17.2366058 22.1917808,16.7579909 Z M20.4349315,13.6986301 C21.4098731,13.6986301 22.2797197,14.1437504 22.8471109,14.8401826 L25.4280822,14.8401826 L25.4280822,9.1534048 L23.399973,5.72441918 C23.1269603,5.26196002 22.6248592,4.97716895 22.0831336,4.97716895 L16.5976027,4.97716895 L16.5976027,11.826484 L5.03938356,11.826484 L5.03938356,14.8401826 L6.4645329,14.8401826 C7.03192411,14.1437504 7.90177076,13.6986301 8.87671233,13.6986301 C9.8516539,13.6986301 10.7215005,14.1437504 11.2888918,14.8401826 L18.0227521,14.8401826 C18.5901433,14.1437504 19.4599899,13.6986301 20.4349315,13.6986301 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg> Free Shipping</li>
		<li><img src="{{'cart-waranty-icon.jpg'| file_url}}" /> 5 years transferrable warranty</li>
	</ul>
</div>

</div>