<div id="overlay" class="em-cst-cart-slide-overlay"></div>
<div class="inline-cart em-cst-cart-slide" id="slidingcartmain">
	<div class="cart-header">
		<div>
          <a href="/cart">Cart</a>
		</div>
		
		<div>
          <div class="close-cart-img"><span class="close-cart-icon"></span></div>
		</div>
	</div>
	
  

  {% if cart.item_count < 1 %}
	<p class="empty-cart-title international-cart-element" data-empty-cart="">Your cart is empty.</p>
  {% else %}
	
  <div data-cart-contents="" class="em-car-sl-content">

<div class="line-item-container">
    
  
  
  {% for item in cart.items %}
  <div class="line-item">
    <div class="line-item-image">

      <a href="{{ item.url }}">
        <img alt="{{ item.image.alt | escape }}" src="{{ item | img_url: '1024x1024' }}">
      </a>

    </div>

    <div class="line-item-content">
      <h4 class="line-item-title"><a href="{{ item.url }}">{{ item.title }}</a>
        </h4>    
      <div class="line-item-remove">
        <div class="ProMetaslide">{{item.metafields.global.meta}}</div>
  <div class="line-item-price">
        {% if item.variant.compare_at_price > item.price %}
        
        <span class="strikeprice">{{ item.variant.compare_at_price | money }}</span>
        {% endif %}
    
        <span class="flow-price">{{ item.price | money }}</span>
    
        <div class="yousavepricesliding yousaveprice">
          {% if item.variant.compare_at_price > item.price %}You save {{ item.variant.compare_at_price | minus: item.price | times: 100.0 | divided_by: item.variant.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%{% endif %}
        </div>
      </div>    
  <a rel="{{ item.id }}" class="remove-item" onclick="remove({{ forloop.index  }},0)">Remove</a> 
      </div>
    </div>



  </div>
  {% endfor %}  

</div>
    
</div>
	

  {% endif %}
  
  
  <div data-full-cart="" class="subtotal-block international-cart-element" style="display: block;"> 
    <div class="em-cart-like-opt-sec-main">
      <div class="em-cart-like-opt-sec-title">
        <span>You may also need one of these:</span>
      </div>
      <div data-app="eastsideco_cartOffers"></div>

      <div data-app="eastsideco_cartOffers" data-position="product" class="em-cart-like-opt-sec"></div>
    </div>
    {% if cart.item_count < 1 %}
    <a href="/collections/all" class="button btn-checkout continueshopping"><span>Continue Shopping</span></a>
    {% else %}
    <div class="subtotal">
      <div>Total:</div>
      <div class="cart-total">
        <a href="/cart">Edit Cart</a>
        <span class="cart-subtotal">{{ cart.total_price | money }}</span>
      </div>
    </div>
    <div class="em-sin-pro-reward-box">
<p>You will Earn 8.5 Reward Points with this purchase <span class="em-sin-pro-reward-box-info"></span></p>
<div class="em-sin-pro-reward-popup">
<div class="em-sin-pro-reward-pop-inn">
{% comment %} <div class="em-sin-pro-reward-pop-close"></div> {% endcomment %}
<h3>Earn Reward Points with Every Purchase</h3>
<div class="em-sin-pro-reward-pop-desc">
<ul>
<li>100 pts = $5</li>
<li>Spend on future purchases and upgrades</li>
<li>$100 min for points redeption </li>
<li>Points expire after 6 months of inactivity</li>
</ul>
<div class="em-sin-pro-reward-pop-desc-lm-link"><a href="{{settings.reward_link}}">Learn more</a></div>
  <div class="em-reward-cst-img"><?xml version="1.0" encoding="UTF-8"?>
    <svg width="53px" height="53px" viewBox="0 0 53 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>B3F9D04C-12D1-42F5-8EB7-69A5B402DDD6@1x</title>
        <g id="emotiva" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="product3" transform="translate(-1294.000000, -368.000000)">
                <g id="picto-rewards" transform="translate(1294.000000, 368.000000)">
                    <circle id="Oval" stroke="#3CBBED" stroke-width="3.5" fill="#FFFFFF" cx="26.5" cy="26.5" r="24.75"></circle>
                    <path d="M37.448125,18.1202612 L35.0835938,18.1202612 C35.5533594,17.3815238 35.8058594,16.5201274 35.8058594,15.6191971 C35.8058594,14.3851309 35.3342188,13.2254396 34.4771875,12.3529864 C33.6203906,11.4805333 32.4811719,11 31.2692188,11 C30.0577344,11 28.9182031,11.4805333 28.0613281,12.3529864 L26.5,13.9426998 L24.9384375,12.3529864 C24.0816406,11.4805333 22.9422656,11 21.730625,11 C20.5189844,11 19.3796094,11.4805333 18.5228125,12.3529864 C16.9865625,13.9166089 16.7853906,16.3324005 17.9173438,18.1202612 L15.5521094,18.1202612 C14.6949219,18.1202612 14,18.827976 14,19.7008268 L14,24.585069 C14,25.4579198 14.6949219,26.1651573 15.5521094,26.1651573 L15.5559375,26.1651573 L15.5559375,38.814296 C15.5559375,40.2453959 16.6955469,41.4054054 18.1010156,41.4054054 L34.8989844,41.4054054 C36.3044531,41.4054054 37.4438281,40.2453959 37.4438281,38.814296 L37.4438281,26.1651573 L37.448125,26.1651573 C38.3053906,26.1651573 39,25.4578403 39,24.585069 L39,19.7008268 C39,18.827976 38.3053125,18.1202612 37.448125,18.1202612 Z M21.1314148,16.838697 C20.6318708,16.2769842 20.6318708,15.362456 21.1314148,14.8002446 C21.3733202,14.5281131 21.6953684,14.3783784 22.0374339,14.3783784 C22.3797209,14.3783784 22.7015475,14.5281131 22.9434529,14.8002446 L25.4555027,17.6265075 C25.462446,17.6345676 25.4692415,17.6424615 25.4761109,17.6503554 L26.1621622,18.4324324 L22.5482053,18.4324324 L21.1314148,16.838697 Z M28.1891892,38.027027 L25.4864865,38.027027 L25.4864865,25.8648649 L28.1891892,25.8648649 L28.1891892,38.027027 Z M31.8687886,16.838697 L30.4545181,18.4324324 L26.8378378,18.4324324 L27.524805,17.6576676 C27.5335802,17.6476964 27.5422078,17.6376421 27.5513516,17.6275046 L30.0597848,14.8002446 C30.3012114,14.5281131 30.6227204,14.3783784 30.9640655,14.3783784 C31.305853,14.3783784 31.6272882,14.5281131 31.8687886,14.8002446 C32.1103627,15.0723762 32.2432432,15.4345812 32.2432432,15.8198032 C32.2432432,16.2044435 32.1103627,16.5665655 31.8687886,16.838697 Z" id="Shape-Copy" fill="#26B4EB" fill-rule="nonzero"></path>
                </g>
            </g>
        </g>
    </svg>
  </div>
</div>
</div>
</div>
    </div>
      <a href="/checkout" class="button btn-checkout"><span>Proceed to checkout</span></a>
    {% endif %}
  </div>
  <div class="em-cart-bot-fea-sec">
	<ul>
		<li><img src="{{'icon-free-shipping@1x.svg'| asset_url}}"> Free Shipping</li>
		<li><img src="{{'cart-waranty-icon.jpg'| file_url}}" /> 5 years transferrable warranty</li>
	</ul>
</div>

</div>