<div id="overlay" class="em-cst-cart-slide-overlay"></div>
<div class="inline-cart em-cst-cart-slide" id="slidingcartmain">
	<div class="cart-header">
		<div>
          <a href="/cart">Cart</a>
		</div>
		
		<div>
          <div class="close-cart-img"><span class="close-cart-icon"></span></div>
		</div>
	</div>
	
  

  {% if cart.item_count < 1 %}
	<p class="empty-cart-title international-cart-element" data-empty-cart="">Your cart is empty.</p>
  {% else %}
	
  <div data-cart-contents="" class="em-car-sl-content">

<div class="line-item-container">
    
  
  
  {% for item in cart.items %}
  <div class="line-item">
    <div class="line-item-image">

      <a href="{{ item.url }}">
        <img alt="{{ item.image.alt | escape }}" src="{{ item | img_url: 'small' }}">
      </a>

    </div>

    <div class="line-item-content">
      <h4 class="line-item-title"><a href="{{ item.url }}">{{ item.title }}</a>
        </h4>    
      <div class="line-item-remove">
  <div class="line-item-price">
        {% if item.variant.compare_at_price > item.price %}
        
        <span class="strikeprice">{{ item.variant.compare_at_price | money }}</span>
        {% endif %}
        <span class="flow-price">{{ item.price | money }}</span>
        <div class="yousavepricesliding yousaveprice">
          {% if item.variant.compare_at_price > item.price %}You save {{ item.variant.compare_at_price | minus: item.price | times: 100.0 | divided_by: item.variant.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%{% endif %}
        </div>
      </div>    
  <a rel="{{ item.id }}" class="remove-item" onclick="remove({{ forloop.index  }},0)">Remove</a> 
      </div>
    </div>



  </div>
  {% endfor %}
  
  
  
  
    
    
    

</div>
</div>
	<a href="#" class="button btn-continue-shopping international-cart-element" data-empty-cart="" style="display: none;"><span>Continue Shopping</span></a>

  {% endif %}
  
  
  <div data-full-cart="" class="subtotal-block international-cart-element" style="display: block;"> 
    {% if cart.item_count < 1 %}
    <a href="/collections/all" class="button btn-checkout continueshopping"><span>Continue Shopping</span></a>
    {% else %}
    <div class="subtotal">
      <div>Total:</div>
      <div class="cart-total">
        <a href="/cart">Edit Cart</a>
        <span class="cart-subtotal">{{ cart.total_price | money }}</span>
      </div>
    </div>
    
      <a href="/checkout" class="button btn-checkout"><span>Proceed to checkout</span></a>
    {% endif %}
  </div>
  <div class="em-cart-bot-fea-sec">
	<ul>
		<li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/cart-free-shipping-icon.jpg?v=1592908879" /> Free Shipping</li>
		<li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/cart-waranty-icon.jpg?v=1592908880" /> 5 years transferrable warranty</li>
	</ul>
</div>

</div>