{% if template contains 'article' and blog.metafields.blogfeeder.use_canonical == 'yes' %}{% assign canonical_url = article.metafields.blogfeeder.canonical %}{% endif %}
<!doctype html>   
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">

  {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
 
  {% include 'social-meta-tags' %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}


{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
{%- assign time_now = 'now' | date: '%s' %}
{%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
{%- assign diffSeconds = time_now | minus: yotpo_live_time %}
{%- if yotpo_offload_content == 'yes' and diffSeconds < 86400 -%}
{{ 'yotpo-full-css.css' | asset_url | stylesheet_tag }}
{%- endif -%}
  {{ 'Custom.css' | asset_url | stylesheet_tag }}
   {{ 'jquery-ui.css' | asset_url | stylesheet_tag }}
  {{ 'slidecart.css' | asset_url | stylesheet_tag }}
  {{ 'swatch.css' | asset_url | stylesheet_tag }}
   {{ 'custompopup.css' | asset_url | stylesheet_tag }}

  <script>
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        fromLowestPrice: {{ 'products.product.from_lowest_price_html' | t: lowest_price: '[price]' | json }},
        vendor: {{'products.product.vendor' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        searchFor: {{ 'general.search.search_for' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
        products: {{ 'general.search.products' | t | json }},
        loading: {{ 'general.search.loading' | t | json }},
        number_of_results: {{ 'general.search.number_of_results' | t: result_number: '[result_number]', results_count: '[results_count]' | json }},
        number_of_results_found: {{ 'general.search.number_of_results_found' | t: results_count: '[results_count]' | json }},
        one_result_found: {{ 'general.search.one_result_found' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
      settings: {
        predictiveSearchEnabled: {{ settings.predictive_search_enabled | json }},
        predictiveSearchShowPrice: {{ settings.predictive_search_show_price | json }},
        predictiveSearchShowVendor: {{ settings.predictive_search_show_vendor | json }}
      }
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'slidecart.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery-ui.js' | asset_url }}" defer="defer"></script>
  
  {%unless template contains "index" or template contains "product" %}
  <script src="{{ 'pageScript.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'custompopup.js' | asset_url }}" defer="defer"></script>
  {%endunless%}
  <script src="{{ 'Custom.js' | asset_url }}" defer="defer"></script>


  {% include 'buddha-megamenu-before' %}
  {% include 'buddha-megamenu' %}
  {{ content_for_header }}
  

<!--begin-bc-sf-filter-css-->
  {% include 'bc-sf-filter-style' %}
<!--end-bc-sf-filter-css-->

<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=JydVVR"></script>

  <!-- Anti-flicker snippet (recommended)  -->
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-W98R37M':true});</script>

    
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W98R37M');</script>
<!-- End Google Tag Manager -->

<script src="https://www.googleoptimize.com/optimize.js?id=OPT-5K5H37C"></script>

  
  <script type="text/javascript">
  (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/C6NTmtWEZTidMNpCtHQIuzOKSuJ2KlCmswsJKKIS/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
  </script>

<!-- tracking code from old store -->

<!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push({
qacct:"p-VFgfc9Ua0HA5r"
});
</script>

<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-VFgfc9Ua0HA5r.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
<!-- End Quantcast tag -->
    
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W98R37M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- end tracking code from old store -->

  {% if template contains "product" %}
    <script src="{{ 'product-custom.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jquery.fancybox.min.js' | asset_url }}" defer="defer"></script>
  {%endif%}



{% include 'globo.formbuilder.scripts' %}
  
{% if current_page > 1 %}
  <meta name="robots" content="noindex">
{% endif %}
   {% if template contains "product" %}
    {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
  {%endif%}
{% if handle contains 'eisa-picks-xpa-as-best-home-theater-amp-of-2020-2021' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'sound-advice-airmotiv-t-zero-product-of-the-year-2019' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'rmc-1-rmc-1l-and-xmc-2-firmware-2-1-now-available' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'emotiva-airmotiv-s15-s12-subwoofers-at-cedia-2018' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'fantastic-xpa-11-amplifier-review-by-avforum' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'stereophile-puts-the-airmotiv-t2-loudspeakers-to-the-test' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'emotiva-pa-1-monoblock-power-amp-at-cedia-2018' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'emotiva-gets-ready-for-11-5-8-dolby-atmos' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'audiostance-picks-the-xps-1-phono-pre-as-the-best-under-200' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'thanks-to-our-friends-at-home-theater-review' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'thanks-secrets-of-home-theater-and-high-fidelity' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'secrets-of-home-theater-review-the-airmotiv-t2-and-c2-loudspeakers' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'cnet-picks-the-basx-a-100-amp-as-one-of-their-best-amplifiers' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'hifi-news-reviews-the-xpa-hc-1-monoblock-amplifier' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'noproblemmac-com-reviews-the-airmotiv-t-zero-loudspeakers' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'hometheaterhifi-com-reviews-the-airmotiv-s15-subwoofer' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'stereo-times-reviews-the-airmotiv-t-zero-towers' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'stereowise-plus-reviews-the-basx-a-500-amplifier' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'medium-reviews-the-basx-ta-100-stereo-preamp-dac-tuner-with-integrated-amplifier' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'hi-fi-trends-reviews-the-basx-ta-100' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'enjoy-the-music-reviews-the-basx-pt-100' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'homecinemachoice-com-reviews-the-xpa-11-gen3-amp' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'rh-audio-reviews-checks-out-the-basx-pt-100' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'rhaudioreviews-com-reviews-the-xpa-2-gen3-amplifier' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'rhaudioreviews-com-reviews-the-airmotiv-t2' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'rh-audio-reviews-the-basx-a-300-amplifier' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'rh-audio-reviews-the-airmotiv-t1-loudspeakers' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'hometheaterreview-com-reviews-the-rmc-1-9-1-6-reference-cinema-processor' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'stereophile-reviews-the-airmotiv-t2-loudspeaker' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'don-lindichs-sound-advice-reviews-the-t-zero-loudspeaker' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'avnirvana-reviews-the-t2-floorstanding-tower-loudspeakers' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'av2day-reviews-the-basx-a-100-stereo-amplifier' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'hometheaterhifi-com-reviews-the-stealth-pa-1-class-d-monoblock-amplifier' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'home-cinema-choice-reviews-the-basx-a-700' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'cepro-reviews-the-airmotiv-e2-surround-loudspeaker' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'ilounge-reviews-the-stealth-pa-1-monoblock-power-amplifier' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'the-absolute-sound-reviews-the-basx-a-150-amplifier' %}<meta name="robots" content="noindex">{% endif %}
{% if handle contains 'the-millennial-audiophile-reviews-the-basx-ta-100' %}<meta name="robots" content="noindex">{% endif %}
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"56351008"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//[bat.bing.com/bat.js](http://bat.bing.com/bat.js)","uetq");</script>

  </head>



<body class="{%if template =="product.gift"%} custom-gift-body{%endif%} template-{{ request.page_type | handle }} {% if template == "page.landing"%} CustomLanding{%endif%} {% if template == "page.earn-reward-credits-with-every-purchase"%} no-side-bar-mob-title{%endif%}">
  {% include 'buddha-megamenu-wireframe' %}
{% include 'slidecart' %}
  {%include "video-popup" %}
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {%- if settings.enable_ajax -%}
    {% include 'cart-popup' %}
  {%- endif -%}

  {% section 'header' %}

  <div class="page-container drawer-page-content" id="PageContainer">

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {% if template contains "article" %}
  <div class="em-articl-sub-nav-sec">
  <div class="em-articl-sub-nav-list">
    <ul>
         {% for link in linklists['bs-blogs'].links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
  {%elsif template contains "blog.custom"  or template contains "blog" %}
   <div class="em-articl-sub-nav-sec">
  <div class="em-articl-sub-nav-list">
    <ul class="BlogCustomize">
     {% for link in linklists['bs-blogs'].links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
          
    </ul>
  </div>
</div>
  {%endif%}
      {%if page.handle contains "order-updates-tracking" or page.handle contains "customer-center0" or page.handle contains "general-faq" or page.handle contains "shipping-policy" or page.handle contains "earn-reward-credits-with-every-purchase" %}
       <div class="mobile-pages-breadcrumb">
 <div class="page-width">
{%include "breadcrumbs" %}
         </div>
</div>
      {%endif%}
      {{ content_for_layout }}
     
  {%if page.handle contains "contact-1" or template =="product.gift"or template == "404" or template == "customers/register" or template == "customers/login" or template == "page.landing" or page.handle contains "customer-center0" or page.handle contains "general-faq" or page.handle contains "shipping-policy" or page.handle contains "earn-reward-credits-with-every-purchase" or page.handle contains "warranty-information" or page.handle contains "order-updates-tracking" or page.handle contains "service-repair-inquiry" or page.handle contains "product-manuals" or page.handle contains "firmware-downloads" or page.handle contains "video-guides" or page.handle contains "international-support"%}
 
      {%else%}
        {% section "Newsletter-custom" %}
      {%endif%}
      {% unless template == "page.landing" or template == "customers/register" or template == "customers/login"%}
      {% section "light-bg-icon" %}
      {%endunless%}
    </main>
    

    

    
    
    {% unless template == "page.landing"%}

    {% section 'footer' %}
{%endunless%}
    <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'sections.slideshow.navigation_instructions' | t -}}
    </div>

  </div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>
  <script async type="text/javascript" data-api-key="pubkey-DhCVJf5UrKPig7T6z22MAY54I577yP" id="stamped-script-widget" src="https://cdn2.stamped.io/files/widget.min.js"></script>
  <!-- Gorgias Chat Widget Start -->
<div id="gorgias-chat">
<script>window.gorgiasChatParameters = {}</script>
<script src="https://config.gorgias.io/production/DrQqY7XJPO6L4Wjv/chat/QBGoD2ekODpxdjql.js" defer></script>
</div>  
<!-- Gorgias Chat Widget End -->
  
  <!-- klaviyo's Back in Stock Widget Start -->
<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "JydVVR",
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "btn",
      product_page_text_align: "center",
      product_page_margin: "5px",
      replace_anchor: true
    },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#000",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"
    }
  });
</script>    

<!-- End of klaviyo's Back in Stock Widget -->

<!--begin-bc-sf-filter-js-->
  {% include 'bc-sf-filter' %} 
<!--end-bc-sf-filter-js-->
{% comment %} Init BC Action List {% endcomment %}
<!--start-bc-al-init-->
  {% include 'bc-al-init' %}
<!--end-bc-al-init-->
{% comment %} Init Recently Viewed Products {% endcomment %}
<!-- start-bc-recently-viewed-product-init -->
  {% include 'bc-recently-viewed-product-init' %}
<!-- end-bc-recently-viewed-product-init -->
{% comment %} Init Most Popular Widgets {% endcomment %}
<!--start-bc-most-popular-product-init-->
  {% include 'bc-most-popular-product-init' %}
<!--end-bc-most-popular-product-init-->
  <div class="cartTotal" style="display:none;">{{ cart.total_price  | money_without_currency | remove: ","}}</div>
  <script data-cfasync="false">window.ju_num="BF693F5E-A96D-4CFC-9B59-B733FF716D6A";window.asset_host='//cdn.jst.ai/';(function(i,s,o,g,r,a,m){i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)};a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script',asset_host+'vck.js','juapp');</script>
<!--Gorgias Chat Widget Start--><script id="gorgias-chat-widget-install">!function(_){_.GORGIAS_CHAT_APP_ID="1882",_.GORGIAS_CHAT_BASE_URL="us-east1-898b.production.gorgias.chat",_.GORGIAS_API_BASE_URL="config.gorgias.chat";var e=new XMLHttpRequest;e.open("GET","https://config.gorgias.chat/applications/1882",!0),e.onload=function(t){if(4===e.readyState)if(200===e.status){var n=JSON.parse(e.responseText);if(!n.application||!n.bundleVersion)throw new Error("Missing fields in the response body - https://config.gorgias.chat/applications/1882");if(_.GORGIAS_CHAT_APP=n.application,_.GORGIAS_CHAT_BUNDLE_VERSION=n.bundleVersion,n&&n.texts&&(_.GORGIAS_CHAT_TEXTS=n.texts),n&&n.sspTexts&&(_.GORGIAS_CHAT_SELF_SERVICE_PORTAL_TEXTS=n.sspTexts),!document.getElementById("gorgias-chat-container")){var o=document.createElement("div");o.id="gorgias-chat-container",document.body.appendChild(o);var r=document.createElement("script");r.setAttribute("defer",!0),r.src="https://storage.googleapis.com/gorgias-chat-production-client-builds/{bundleVersion}/static/js/main.js".replace("{bundleVersion}",n.bundleVersion),document.body.appendChild(r)}}else console.error("Failed request GET - https://config.gorgias.chat/applications/1882")},e.onerror=function(_){console.error(_)},e.send()}(window||{});</script><script id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});</script><!--Gorgias Chat Widget End-->

</body>
</html>
