<div class="em-hm-latest-rd-main">
	<div class="page-width"> 
		<div class="em-hm-latest-rd-inn">
			<h3 class="em-hm-section-title">{{section.settings.title}}</h3>
			<div class="em-hm-latest-rd-row">
				<div class="em-hm-latest-rd-block">
					<a href="{{articles[section.settings.article_1].url}}">
						<div class="em-hm-latest-rd-img">
							<div class="em-hm-latest-rd-img-lbl">{{section.settings.blog_1}}</div>
					 		<img src="{{section.settings.image_1 | img_url: "680x581"}}" />
						</div>
						<h3 class="em-hm-latest-rd-title">{{articles[section.settings.article_1].title}}</h3>
					</a>
				</div> 
				<div class="em-hm-latest-rd-block">
					<div class="em-hm-latest-rd-upr">
						<a href="{{articles[section.settings.article_2].url}}">
							<div class="em-hm-latest-rd-img">
								<div class="em-hm-latest-rd-img-lbl">{{section.settings.blog_2}}</div>
								<img src="{{section.settings.image_2 | img_url: "680x249"}}" />
							</div>
							<h3 class="em-hm-latest-rd-title">{{articles[section.settings.article_2].title}}</h3>
						</a>
					</div>
					<div class="em-hm-latest-rd-lwr">
						<div class="em-hm-latest-rd-lwr-row">
							<div class="em-hm-latest-rd-lwr-block">
								<a href="{{articles[section.settings.article_3].url}}">
									<div class="em-hm-latest-rd-img">
										<div class="em-hm-latest-rd-img-lbl">{{section.settings.blog_3}}</div>
										<img src="{{section.settings.image_3 | img_url: "335x248"}}" />
									</div>
									<h3 class="em-hm-latest-rd-title">{{articles[section.settings.article_3].title}}</h3>
								</a>
							</div>
							<div class="em-hm-latest-rd-lwr-block">
								<a href="{{articles[section.settings.article_4].url}}">
									<div class="em-hm-latest-rd-img">
										<div class="em-hm-latest-rd-img-lbl">{{section.settings.blog_4}}</div>
										<img src="{{section.settings.image_4 | img_url: "335x248"}}" />
									</div>
									<h3 class="em-hm-latest-rd-title">{{articles[section.settings.article_4].title}}</h3>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>    
{% schema %}
  {
    "name": "Custom Blog",
    "class": "index-section CustomtBlogs",
    "settings": [
{
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    },
{
      "type": "text",
      "id": "blog_1",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Blog Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    },
{
          "type": "image_picker",
          "id": "image_1",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image 1"
          },
        "info": {
          "da": "680x581px",
          "de": "680x581px",
          "en": "680x581px"
        }
        },
{
      "id": "article_1",
      "type": "article",
      "label": {
        "da": "Article",
        "de": "Article",
        "en": "Article"
      }
    },
{
      "type": "text",
      "id": "blog_2",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Blog Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    },
{
          "type": "image_picker",
          "id": "image_2",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image 2"
          },
        "info": {
          "da": "680x249px",
          "de": "680x249px",
          "en": "680x249px"
        }
        },
{
      "id": "article_2",
      "type": "article",
      "label": {
        "da": "Article",
        "de": "Article",
        "en": "Article"
      }
    },
{
      "type": "text",
      "id": "blog_3",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Blog Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    },
{
          "type": "image_picker",
          "id": "image_3",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image 3"
          },
        "info": {
          "da": "335x248px",
          "de": "335x248px",
          "en": "335x248px"
        }
        },
{
      "id": "article_3",
      "type": "article",
      "label": {
        "da": "Article",
        "de": "Article",
        "en": "Article"
      }
    },
{
      "type": "text",
      "id": "blog_4",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Blog Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    },
{
          "type": "image_picker",
          "id": "image_4",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image 4"
          },
        "info": {
          "da": "335x248px",
          "de": "335x248px",
          "en": "335x248px"
        }
        },
{
      "id": "article_4",
      "type": "article",
      "label": {
        "da": "Article",
        "de": "Article",
        "en": "Article"
      }
    }

],
  "presets": [
    {
      "name": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Custom Blog"
      },
      "category": {
        "da": "Blog",
        "de": "Blog",
        "en": "Blog"
      }
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
