<div class="em-logo-inf-slider-section">
			<div class="page-width">
				<div class="em-logo-inf-slider-sec-inn">
					<h4 class="em-logo-inf-slider-title">{{section.settings.title}}</h4>
					<div class="em-logo-inf-slider-main">
						<div class="em-logo-inf-slider-inn">
                          {% for block in section.blocks %}
                          <a href="{{block.settings.link}}">
                            <img class="lazyload" data-src="{{ block.settings.image | img_url: '130x100'}}" />
                          </a>
                          {%endfor%}
						</div>
						<div class="em-logo-inf-slider-inn">
							 {% for block in section.blocks %}
                          <a href="{{block.settings.link}}">
                            <img class="lazyload" data-src="{{ block.settings.image | img_url: '130x100'}}" />
                          </a>
                          {%endfor%}
                      </div>
					</div>
				</div>
			</div>
		</div>
{% schema %}
{
  "name": {
    "da": "Logoliste",
    "de": "Logo-Liste",
    "en": "Custom Slide Logo"
  },
  "class": "index-section CustomSlideLogo",
  "max_blocks": 30,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Custom Logo list"
      }
    }
  ], 
  "blocks": [
    {
      "type": "custom_logo_image",
      "name": {
        "da": "Custom Logo",
        "de": "Custom Logo",
        "en": "Custom Logo"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image"
          },
        "info": {
          "da": "130 x 100px",
          "de": "130 x 100px",
          "en": "130 x 100px"
        }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "da": "Link",
            "de": "Link",
            "en": "Link"
          },
          "info": {
            "da": "Valgfri",
            "de": "Optional",
            "en": "Optional"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Custom Logo list"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image"
      },
      "blocks": [
        {
          "type": "custom_logo_image"
        },
        {
          "type": "custom_logo_image"
        },
        {
          "type": "custom_logo_image"
        },
        {
          "type": "custom_logo_image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
