<div class="em-hm-pro-art-sec">
	<div class="page-width">
		<div class="em-hm-pro-art-inn">
			<div class="em-hm-pro-art-row">
				<div class="em-hm-pro-art-block">
                 {% assign product= all_products[section.settings.featured_product]%}
					<h3 class="em-hm-section-title">{{section.settings.title}}</h3>
                  <a href="{{product.url}}">
					<div class="em-hm-fea-pro-block">
						<div class="em-hm-fea-pro-img">{%if section.settings.pro_img != blank %}<img class="lazyload" data-src="{{section.settings.pro_img | img_url: "original"}}" />{%else%}<img class="lazyload" data-src="{{ product.featured_image.src | img_url: 'original' }}" />{%endif%}</div>
						<h3>{{product.title}}</h3>
						<h4>{{section.settings.short_description}}</h4>
						<p>{{section.settings.description}}</p>
						<div class="em-hm-fea-pro-price-rate">
							<p>{{product.price | money}}</p>
							<div class="em-hm-fea-pro-rating">
                          {{ product.metafields.stamped.badge }}
                          </div>
						</div>
					</div>
                  </a>
					<div class="em-hm-pro-art-block-link">
						<a href="{{section.settings.coll_link}}" class="bl-text-arw-link">All Products</a>
					</div>
				</div>
				<div class="em-hm-pro-art-block">
					<h3 class="em-hm-section-title">{{section.settings.title_2}}</h3>
					<div class="em-hm-fea-art-block">
						<a href="{{articles[section.settings.article_1].url}}">
							<div class="em-hm-fea-art-block-img"><img class="lazyload" data-src="{{section.settings.image_1| img_url: 'large'}}" /></div>
							<div class="em-hm-fea-art-block-cont">
								<h5>{{section.settings.blog_1}}</h5>
								<h3>{{articles[section.settings.article_1].title}}</h3>
								<div class="em-hm-fea-art-block-auth">
									<div class="em-hm-fea-art-auth-info">
										<p><img class="lazyload" data-src="{{section.settings.author_1| img_url: 'original'}}" /> {{articles[section.settings.article_1].published_at | time_tag: format: 'date'}}<br />by {{articles[section.settings.article_1].author}}</p>
										<div class="em-hm-fea-art-auth-link"><span class="bl-text-arw-link">Read</span></div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="em-hm-fea-art-block em-hm-fea-art-img-right">
						<a href="{{articles[section.settings.article_2].url}}">
							<div class="em-hm-fea-art-block-img"><img class="lazyload" data-src="{{section.settings.image_2| img_url: 'large'}}" /></div>
							<div class="em-hm-fea-art-block-cont">
								<h5>{{section.settings.blog_2}}</h5>
								<h3>{{articles[section.settings.article_2].title}}</h3>
								<div class="em-hm-fea-art-block-auth">
									<div class="em-hm-fea-art-auth-info">
										<p><img class="lazyload" data-src="{{section.settings.author_2| img_url: 'original'}}" />{{articles[section.settings.article_2].published_at | time_tag: format: 'date'}}<br />by {{articles[section.settings.article_2].author}}</p>
										<div class="em-hm-fea-art-auth-link"><span class="bl-text-arw-link">Read</span></div>
									</div>
								</div>
							</div>
						</a> 
					</div>
					<div class="em-hm-fea-art-block">
						<a href="{{articles[section.settings.article_3].url}}">
							<div class="em-hm-fea-art-block-img"><img class="lazyload" data-src="{{section.settings.image_3| img_url: 'large'}}" /></div>
							<div class="em-hm-fea-art-block-cont">
								<h5>{{section.settings.blog_3}}</h5>
								<h3>{{articles[section.settings.article_3].title}}</h3>
								<div class="em-hm-fea-art-block-auth">
									<div class="em-hm-fea-art-auth-info">
										<p><img class="lazyload" data-src="{{section.settings.author_3| img_url: 'original'}}" />{{articles[section.settings.article_1].published_at | time_tag: format: 'date'}}<br />by {{articles[section.settings.article_3].author}}</p>
										<div class="em-hm-fea-art-auth-link"><span class="bl-text-arw-link">Read</span></div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="em-hm-pro-art-block-link">
						<a href="{{section.settings.link_1}}" class="bl-text-arw-link">All Articles</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% schema %}
  {
    "name": "Product and Post",
    "settings": [
{

      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading"
      },
      "default": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured Products"
      }

},
{

      "type": "textarea",
      "id": "short_description",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Short description"
      },
      "default": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Short description"
      }

},
{

      "type": "textarea",
      "id": "description",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Description"
      },
      "default": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Description"
      }

},
{
      "id": "featured_product",
      "type": "product",
      "label": {
        "da": "Product",
        "de": "Product",
        "en": "Product"
      }
    },
{
          "type": "image_picker",
          "id": "pro_img",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Product Image"
          }
        },
{
      "type": "url",
      "id": "coll_link",
      "label": {
        "da": "Link",
        "de": "Link",
        "en": "Collection Link"
      },
      "info": {
        "da": "Valgfri",
        "de": "Optional",
        "en": "Optional"
      }
    },
{

      "type": "text",
      "id": "title_2",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading"
      },
      "default": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured Article"
      }

},
{
      "type": "text",
      "id": "blog_1",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Blog Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    },
{
          "type": "image_picker",
          "id": "image_1",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Article Image 1"
          }
        },
{
          "type": "image_picker",
          "id": "author_1",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Author Image 1"
          }
        },
{
      "id": "article_1",
      "type": "article",
      "label": {
        "da": "Article",
        "de": "Article",
        "en": "Article"
      }
    },
{
      "type": "text",
      "id": "blog_2",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Blog Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    },
{
          "type": "image_picker",
          "id": "image_2",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Article Image 2"
          }
        },
{
          "type": "image_picker",
          "id": "author_2",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Author Image 2"
          }
        },
{
      "id": "article_2",
      "type": "article",
      "label": {
        "da": "Article",
        "de": "Article",
        "en": "Article"
      }
    },
{
      "type": "text",
      "id": "blog_3",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Blog Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    },
{
          "type": "image_picker",
          "id": "image_3",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Article Image 3"
          }
        },
{
          "type": "image_picker",
          "id": "author_3",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Author Image 3"
          }
        },
{
      "id": "article_3",
      "type": "article",
      "label": {
        "da": "Article",
        "de": "Article",
        "en": "Article"
      }
    }
,
{
      "type": "url",
      "id": "link_1",
      "label": {
        "da": "Link",
        "de": "Link",
        "en": "Link"
      },
      "info": {
        "da": "Valgfri",
        "de": "Optional",
        "en": "Optional"
      }
    }
    ],
  "presets": [
    {
      "name": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Custom Blog and Product"
      },
      "category": {
        "da": "Blog",
        "de": "Blog",
        "en": "Blog"
      }
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
