<div class="em-satisfaction-gray-bar">
	<div class="em-satisfaction-gray-bar-inn">
		<h3>{{section.settings.title}}</h3>
		<div class="em-satisfaction-gray-row">
			<div class="em-satisfaction-gray-blk">
				<p><img src="{{section.settings.image_1| img_url: "original"}}" />{{section.settings.desc_1}}</p>
			</div>
			<div class="em-satisfaction-gray-blk">
				<p><img src="{{section.settings.image_2| img_url: 'original'}}" />{{section.settings.desc_2}}</p>
			</div>
			<div class="em-satisfaction-gray-blk">
				<p><img src="{{section.settings.image_3| img_url: 'original'}}" />{{section.settings.desc_3}}</p>
			</div>
			<div class="em-satisfaction-gray-blk">
				<p><img src="{{section.settings.image_4| img_url: 'original'}}" /> {{section.settings.desc_4}}</p>
			</div>
		</div>
	</div>
</div>
{% schema %}
  {
    "name": "Light BG With Icon",
    "settings": [
{
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    },
{
          "type": "image_picker",
          "id": "image_1",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image 1"
          }
        },
{
      "type": "textarea",
      "id": "desc_1",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Title"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Title 1"
      }
    },
{
          "type": "image_picker",
          "id": "image_2",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image 2"
          }
        },
{
      "type": "textarea",
      "id": "desc_2",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Title"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Title 2"
      }
    },
{
          "type": "image_picker",
          "id": "image_3",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image 3"
          }
        },
{
      "type": "textarea",
      "id": "desc_3",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Title"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Title 3"
      }
    },
{
          "type": "image_picker",
          "id": "image_4",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image 4"
          }
        },
{
      "type": "textarea",
      "id": "desc_4",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Title"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Title 4"
      }
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
