<div class="em-inner-sidebar-left">
  {%include "sidebar-resources"%}
  </div>
			<div class="em-inner-sidebar-cont-right">
			<div class="em-inner-sidebar-cont-inn">
				<div class="em-inner-sidebar-cont-block">
					<h1 class="em-inner-sidebar-cont-title">{{section.settings.content}}</h1>
					<div class="em-res-video-link-list-sec">
                      <ul class="em-res-video-link-list">
                        {% for block in section.blocks %}
                          {% if block.type == 'content'%}
                          <li>
                              <div class="em-res-video-block">
                                  {% comment %} <div class="em-res-video-block-img"><img src="{{'video-1-img.jpg' | file_url}}" /></div> {% endcomment %}
                                  <div class="em-res-video-block-img"><img src="{{ block.settings.image | img_url: '385x217'}}" /></div> 
                                  <div class="em-res-video-block-cont">
                                      <h3>{{block.settings.title}}</h3>
                                      <p>{{block.settings.time}}</p>
                                      <div class="em-res-video-block-vid-play" data-link="{{block.settings.video}}"><img src="{{'icon-play_aa21a522-fc2d-45fa-9d49-1505e8176618.png'| file_url}}" /></div>
                                  </div>
                              </div>
                          </li>
                          {% elsif block.type == 'SubHeading'%}
                             
                          <li class="em-res-video-block-sub-title">
                            <h2>{{block.settings.title}}</h2>
                          </li>
                          {% endif %}
                        {%endfor%}
                        
                      </ul>
                  </div>
				</div>			  			  
			</div>
		</div>
		
{% schema %}
  {
    "name": "Resources 4",
    "settings": [
 {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Content"
      },
       {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu"
      },
      "default": "main-menu"
    },
{
        "type": "text",
        "id": "content",
        "label": "Content Heading",
        "default": "Product"
      }
],
    "blocks": [
      {
        "type": "content",
        "name": "Content",
        "settings": [

          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "The Emotiva XPS-1 Phono Preamplifier Tutorials"
          },
          {
            "type": "text",
            "id": "time",
            "label": "Time",
            "default": "10:33"
          },
          {
            "type": "text",
            "id": "video",
            "label": "Video Link",
            "default": "https://www.youtube.com/embed/j8CklKwQW8I"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label":"Image",
            "info": "385 x 217px"
          }
        ]
      },
      {
        "type": "SubHeading",
        "name": "Sub Heading",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Title"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
